mark { background-color:#ff9; color:#000; font-style:normal; font-weight:bold; }

.hidden { display: none; }

html {
    height:100%;
}

body {
    padding-top: 50px;
    height:100%;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  body {
      padding-top: 50px;
      height:100%;
      box-sizing: border-box;
  }
}

.waveform {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.textbox {
    position: absolute;
    text-align: center;
    width: 90%;
    bottom: 0;
    height: 10%;
    transform: translateY(-100%);
}

.well {
  height:100%;
}

.navbar { margin-bottom: 0; }

.controls {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 90%
}

.controls .btn {
    margin-bottom: 5px;
}

#play {
    display: block;
}

#stop {
    display: none;
}

#refresh {
    display: none;
}
